*{margin: 0; padding: 0;}
@font-face {
    font-family: 'YEONGJUSeonbiTTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2403@1.0/YEONGJUSeonbiTTF.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
#total
{
    width: 1600px;
    height: 900px;
}
#d_top
{
    width: 1600px;
    height: 100px;
    float: left;
    font-family: 'YEONGJUSeonbiTTF';
    text-align: right;
    line-height: 90px;
    font-size: 70px;
    background-color: beige;
}
#student_id, #student_name
{
    font-size: 50px;
    font-weight: bold;
    color: black;
    padding-right: 20px;
}
#d_left
{
    width: 320px;
    height: 800px;
    float: left;
    background-color: bisque;
}
button
{
    margin: 8px;
    padding: 8px;
    margin-left: 35px;
    width: 250px;
    height: 70px;
    font-size: 30px;
    font-family: 'YEONGJUSeonbiTTF';
    background-color: white;
    color: powderblue;
    font-weight: 100;
    text-align: center;
}
a
{
    text-decoration: none;
    color: powderblue;
}
#d_right
{
    width: 1280px;
    height: 800px;
    float: left;
    text-align: center;
    line-height: 800px;
    font-size: 50px;
    font-family: 'YEONGJUSeonbiTTF';
    color: pink;
    background-color: aliceblue;
    position: relative;
}
#myCanvas
{
    background-color: aliceblue;
    width: 1200px;
    height: 600px;
}
img
{
    position: absolute;
    left: 100px;
    top: 200px;
}
ul
{
    line-height: 100px;
    padding-top: 50px;
    position: absolute;
    right: 150px;
    top: 110px;
}
li
{
    text-align: left;
    color: black;
    font-size: 20px;
}