*
{
    margin: 0;
    padding: 0;
    background-color: rgb(72, 153, 242);
}
body
{
    text-align: center;
}
canvas
{
    margin-top: 50px;
    display: inline-block;
    background-color: rgb(180, 180, 180);
    width: 480px;
    height: 800px;
}